.container {
  border: medium solid;
  width: 600px;
  margin: 40px auto 20px;
  padding: 1rem;
  border-radius: 4px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.btn-primary {
  background-color: #fad0c4;
  color: black;
  border-width: thin;
  border-color: black;
}
.btn-primary:hover {
  background: #fac7b8;
  color: white;
  border: none;
}

.btn-success {
  background-color: #fad0c4;
  color: white;
  border: none;
}
.btn-success:hover {
  background: #fac7b8;
  color: black;
  border-width: thin;
  border-color: black;
}
.main-weather-temperature ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 1;
}
.main-temp {
  font-size: 60px;
  margin: -5px 0 15px -5px;
}
.credits {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0;
}

.date-time ul {
  font-size: 15px;
  margin: 0;
  line-height: 1.25;
  list-style-type: none;
  padding: 0;
}

.forecast-date,
.forecast-high,
.forecast-low {
  font-size: 12px;
}

.main-weather-overview {
  margin: 1rem 0;
}

.main-weather-overview i {
  font-size: 80px;
  display: block;
  margin: 0 auto;
}

.form-control {
  border-color: black;
}
.form-control:focus {
  border-color: #ffd1ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fad0c4;
}

#main-city-display {
  font-size: 60px;
  font-weight: lighter;
  margin: -6px 0 10px 10px;
  line-height: 1;
  text-transform: capitalize;
}
#city {
  border-left: thin solid;
}

#weather-description {
  text-transform: capitalize;
}
