.container {
  border: medium solid;
  width: 600px;
  margin: 40px auto 20px;
  padding: 1rem;
  border-radius: 4px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.btn-primary {
  background-color: #fad0c4;
  color: black;
  border-width: thin;
  border-color: black;
}
.btn-primary:hover {
  background: #fac7b8;
  color: white;
  border: none;
}

.btn-success {
  background-color: #fad0c4;
  color: white;
  border: none;
}
.btn-success:hover {
  background: #fac7b8;
  color: black;
  border-width: thin;
  border-color: black;
}
.main-temperature ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 1;
}

.credits {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0;
}

.main-temp {
  font-size: 60px;
  margin-bottom: 10px;
}

.main-weather-details,
#current-date,
#current-time {
  font-size: 15px;
}

.forecast-date,
.forecast-high,
.forecast-low {
  font-size: 12px;
}

.main-weather-display {
  margin-bottom: 1rem;
}

.main-weather-display i {
  font-size: 85px;
  padding-top: 60px;
  margin: 18px;
  line-height: 0;
}

.form-control {
  border-color: black;
}
.form-control:focus {
  border-color: #ffd1ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fad0c4;
}
#weather-description {
  display: block;
  text-align: center;
  margin-left: 1rem;
  margin-top: 40px;
}

#city {
  border-left: thin solid;
}
